<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-default" xattr-theme="bar-default" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Configuração</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <h1 class="text-center col-xs-12 h5" xattr-position="text-center" xattr-type="h5" data-component="crn-heading" id="crn-heading-612125" style="margin-top:10px;">Popular Dados</h1><button class="button button-default button-clear col-xs-3 button-medium" type="submit" xattr-fullsize="" xattr-theme="button-default" ng-click="cronapi.server('blockly.DataBase.populateAllSources').run()" data-component="crn-button" xattr-size="button-medium" xattr-type="button-clear" id="crn-button-75331" style="margin: 5px; width: 170px; height: 42px;"><i class="fa fa-database" xattr-icon-theme=""></i> <span>Popular dados</span></button></ion-content>
</ion-view>