<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-default" xattr-theme="bar-default" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Formulários</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <button class="button filled button-positive button-medium col-xs-4" type="submit" xattr-fullsize="" xattr-theme="button-positive" ng-click="cronapi.screen.changeView('#/app/logged/forms/image', [])" data-component="crn-button" xattr-size="button-medium" xattr-type="filled" id="crn-button-1027732" style="margin:5px;"><i class="fa fa-file-photo-o" xattr-icon-theme=""></i> <span>Imagem</span></button><button class="button filled button-positive button-medium col-xs-4" type="submit" xattr-fullsize="" xattr-theme="button-positive" ng-click="cronapi.screen.changeView('#/app/logged/forms/archive', [])" data-component="crn-button" xattr-size="button-medium" xattr-type="filled" id="crn-button-77451" style="margin:5px;"><i class="ion ion-document" xattr-icon-theme=""></i> <span>Arquivo</span></button></ion-content>
</ion-view>